* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f9f5d7; /* 舒适的黄色背景 */
  display: flex; /* 使用flex布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh; /* 使body充满视口高度 */
}

.square {
  background: #fff; /* 确保棋盘格为白色 */
  border: 1px solid #999; /* 棋盘格边框颜色 */
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  text-align: center;
}

.board-row {
  display: flex; /* 使用flex布局来创建行 */
}

.board-row:after {
  content: '';
  display: table;
  clear: both;
}

.status {
  margin-bottom: 10px;
  color: #333; /* 确保文字颜色与背景形成对比 */
  font-style: italic; /* 添加斜体样式 */
  font-weight: bold; /* 加粗字体 */
}

.game {
  display: flex; /* 使用flex布局来排列棋盘和游戏信息 */
  flex-direction: row; /* 水平排列 */
  align-items: center; /* 垂直居中 */
}

.game-info {
  margin-left: 20px; /* 保持游戏信息在棋盘右侧 */
  border: 2px solid #555; /* 添加边框 */
  border-radius: 8px; /* 添加圆角 */
  padding: 15px; /* 添加内边距 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  background-color: #f9f5d7; /* 设置背景颜色 */
  font-family: 'Arial', sans-serif; /* 更改字体 */
  font-size: 16px; /* 设置字体大小 */
}
